/* Global styles */
body {
  margin: 0;
  padding: 0;
}

/* App component styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure alignment to the left */
  justify-content: flex-start; /* Ensure alignment to the top */
  padding: 20px;
  color: white;
}

/* Keyframes for logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header container styles */
.header-container {
  width: 100%;
  padding: 10px; /* Adjust padding as needed */
  background-color: #2e2e2e; /* Background color similar to your image */
}

/* h2 tag styles */
h2 {
  color: white; /* White text color for contrast */
  font-size: 2em; /* Adjust font size as necessary */
  margin: 0;
}
