.header-container {
    background-color: #f8f9fa; /* Heller Hintergrund, kann nach Belieben geändert werden */
    padding: 10px 20px; /* Abstand innerhalb des Containers */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd; /* Optionale Umrandung */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optionaler Schatten */
}

.navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-right: 20px; /* Abstand zwischen den Elementen */
}

#login {
    margin-left: auto; /* Schiebt das Element nach rechts */
}

.navbar a {
    text-decoration: none; /* Entfernt die Standard-Unterstreichung von Links */
    color: black; /* Farbe der Textlinks */
}

.navbar a:hover {
    color: blue; /* Farbe ändern, wenn der Mauszeiger über dem Link schwebt */
}

.navbar a:active {
    color: red; /* Farbe ändern, wenn der Link aktiv ist */
}
